{% load static %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Мой сайт{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image">

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.min.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">

    {% include 'includes/header.html' %}

    <main class="container flex-shrink-0">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tzOffset = new Date().getTimezoneOffset();
            document.cookie = `tz_offset=${-tzOffset}; path=/; max-age=31536000; SameSite=Lax`;
        });
    </script>
    {% block extra_js %}{% endblock %}
    </body>
</html>
