stages:
  - lint
  - test

flake8:
  stage: lint
  image: registry.gitlab.com/pipeline-components/flake8:latest
  script:
    - pip install -r requirements/lint.txt
    - flake8 --verbose

black:
  stage: lint
  image: registry.gitlab.com/pipeline-components/black:latest
  script:
    - black --check .

unit-test:
  stage: test
  script:
    - pip install -r requirements/test.txt
    - python3 manage.py test --exclude-tag test_system


