{% load static %}
{% load i18n %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="30" height="30">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'ru' %}
                        Русский
                    {% else %}
                        English
                    {% endif %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    <li>
                        <form action="{% url 'set_language' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}">
                            <input type="hidden" name="language" value="ru">
                            <button type="submit" class="dropdown-item">Russian</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'set_language' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}">
                            <input type="hidden" name="language" value="en">
                            <button type="submit" class="dropdown-item">English</button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li>
                        <a class="nav-link {% if request.resolver_match.view_name == 'homepage:home' %}active{% endif %}" {% if not request.resolver_match.view_name == 'homepage:home' %} href="{% url 'homepage:home' %}" {% endif %}>
                            {% translate "Home" %}
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if request.resolver_match.view_name == 'user_list' %}active{% endif %}" {% if not request.resolver_match.view_name == 'user_list' %} href="{% url 'user_list' %}" {% endif %}>
                            {% translate "Leaderboard" %}
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if request.resolver_match.view_name == 'problems:all' %}active{% endif %}" {% if not request.resolver_match.view_name == 'problems:all' %} href="{% url 'problems:all' %}" {% endif %}>
                            {% translate "Problems" %}
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if request.resolver_match.view_name == 'duet:user_rooms' %}active{% endif %}" {% if not request.resolver_match.view_name == 'duet:user_rooms' %} href="{% url 'duet:user_rooms' %}" {% endif %}>
                            {% translate "My code rooms" %}
                        </a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <a class="nav-link {% if request.resolver_match.view_name == 'admin:index' %}active{% endif %}" {% if not request.resolver_match.view_name == 'admin:index' %} href="{% url 'admin:index' %}" {% endif %}>
                                {% translate "Admin" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}" alt="Avatar" class="img-fluid rounded-circle nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 60px; height: 60px;">
                        {% else %}
                            <div class="d-flex justify-content-center position-relative" role="button" data-bs-toggle="dropdown">
                                <div class="rounded-circle bg-light text-dark d-flex align-items-center justify-content-center"
                                     style="width: 60px; height: 60px;">
                                    <span class="display-6">{{ user.username|first|upper }}</span>
                                </div>
                            </div>
                        {% endif %}
                        {% if invitations_count > 0 %}
                            <div class="position-absolute bottom-0 end-0 translate-middle rounded-circle bg-danger text-white d-flex align-items-center justify-content-center"
                                 style="width: 20px; height: 20px; font-size: 10px;">
                                <span>{{ invitations_count }}</span>
                            </div>
                        {% endif %}
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% if user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item text-center" href="{% url 'profile' %}">
                                        {% translate "Profile" %}
                                    </a>
                                </li>
                                <li class="position-relative">
                                    <a class="dropdown-item d-flex justify-content-between align-items-center" href="{% url 'duet:my_invitations' %}">
                                        {% translate "My invitations" %}
                                        {% if invitations_count > 0 %}
                                        <span class="badge bg-danger rounded-pill" style="margin-left: 10px">{{ invitations_count }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                                 <li>
                                    <a class="dropdown-item text-center" href="{% url 'problems:my_tasks' %}">
                                        {% translate "My tasks" %}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-center">
                                        <form action="{% url 'logout' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">{% translate "Logout" %}</button>
                                        </form>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'login' %}">
                                        {% translate "Login" %}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'signup' %}">
                                        {% translate "Sign Up" %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>