{% load static %}
{% load thumbnail %}
<div class="col-md-4 mb-4">
    <div class="card">
        {{ item.main_image.image_thumbnail_card }}
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">Категория: {{ item.category.name }}</p>
            <p class="card-text">Описание: {{ item.text|safe|truncatewords_html:10 }}</p>
            <p class="card-text">Теги:
                {% for tag in item.tags.all %}
                    {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <a href="{% url 'catalog:item_detail' item.id %}" class="btn btn-primary">Подробнее</a>
    </div>
</div>
