{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Register for" %} {{ contest.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>{% translate "Register for" %} {{ contest.name }}</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>{% translate "Are you sure you want to register for this contest?" %}</p>
                    <button type="submit" class="btn btn-primary">{% translate "Confirm Registration" %}</button>
                    <a href="{% url 'contests:detail' pk=contest.pk %}" class="btn btn-secondary">{% translate "Cancel" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
