{% extends 'base.html' %}

{% block title %}{{ contest.name }} - Standings{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ contest.name }} - Standings</h2>
    
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Participant</th>
                    {% for problem in problems %}
                        <th>{{ problem.order }}</th>
                    {% endfor %}
                    <th>Total</th>
                </tr>
                <tr>
                    <th colspan="2"></th>
                    {% for problem in problems %}
                        <th>{{ problem.points }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for standing in standings %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ standing.user.username }}</td>
                    {% for problem in problems %}
                        <td>
                            {% for solution in standing.solutions %}
                                {% if solution.contest_problem == problem %}
                                    {% if solution.submission.verdict == 'AC' %}
                                        <span class="text-success">+</span>
                                    {% else %}
                                        <span class="text-danger">-</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                    <td>{{ standing.total_points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
