{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">{% translate "My profile" %}</h2>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4 text-center justify-content-center">
                                {% if user.profile.image %}
                                    <img src="{{ user.profile.image.url }}" alt="Аватарка" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                                {% else %}
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="rounded-circle bg-light text-dark d-flex align-items-center justify-content-center"
                                             style="width: 150px; height: 150px;">
                                            <span class="display-4">{{ user.username|first|upper }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                                <p class="text-muted">{% translate "Rating" %}: {{ score }}</p>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="mb-3">
                                    <label for="id_username" class="form-label">{% translate "Username" %}</label>
                                    <input type="text" class="form-control" id="id_username" value="{{ user.username }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="id_email" class="form-label">{% translate "Email" %}</label>
                                    <input type="email" class="form-control" id="id_email" name="email" value="{{ form.email.value|default:user.email }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_first_name" class="form-label">{% translate "Name" %}</label>
                                    <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ form.first_name.value|default:user.first_name }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_last_name" class="form-label">{% translate "Surname" %}</label>
                                    <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ form.last_name.value|default:user.last_name }}">
                                </div>
                                <div class="mb-3">
                                    <label for="id_image" class="form-label">{% translate "Avatar" %}</label>
                                    <input type="file"
                                           class="form-control"
                                           id="id_image"
                                           name="image"
                                           title="{% translate 'Choose file' %}"
                                           data-browse-text="{% translate 'Choose file' %}"
                                           data-placeholder="{% translate 'No file chosen' %}">
                                </div>
                                <button type="submit" class="btn btn-primary w-100">{% translate "Save" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">{% translate "Logout" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
