{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">{% translate "User info" %}</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            {% if profile_user.profile.image %}
                                <img src="{{ profile_user.profile.image.url }}" alt="Аватарка" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                            {% else %}
                                <div class="d-flex justify-content-center">
                                    <div class="rounded-circle bg-light text-dark d-flex align-items-center justify-content-center"
                                         style="width: 150px; height: 150px;">
                                        <span class="display-6">{{ profile_user.username|first|upper }}</span>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <label class="form-label">{% translate "Rating" %}:</label>
                                <p>{{ profile_user.profile.score }}</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label class="form-label">{% translate "Username" %}</label>
                                <p>{{ profile_user.username }}</p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{% translate "Email" %}</label>
                                <p>{{ profile_user.email }}</p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{% translate "Name" %}</label>
                                <p>
                                    {% if profile_user.first_name %}
                                        {{ profile_user.first_name }}
                                    {% else %}
                                        <span style="font-style: italic; color: #888;">{% translate "not specified" %}</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{% translate "Surname" %}</label>
                                <p>
                                    {% if profile_user.last_name %}
                                        {{ profile_user.last_name }}
                                    {% else %}
                                        <span style="font-style: italic; color: #888;">{% translate "not specified" %}</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{% translate "Birthday" %}</label>
                                <p>
                                    {% if profile_user.profile.birthday %}
                                        {{ profile_user.profile.birthday|date:"d.m.Y" }}
                                    {% else %}
                                        <span style="font-style: italic; color: #888;">{% translate "not specified" %}</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
